.App {
  text-align: center;
}

.margin10 {
  margin: 10px;
}

.padding10 {
  padding: 10px;
}

.navbar {
  background: linear-gradient(rgb(176, 239, 255), rgb(126, 230, 248));
  height: 75px;
}

.marginTop {
  margin-top: 15px;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


