.App {
  text-align: center;
  background-color: lightgrey;
  min-height: 100vh;
}


.margin10 {
  margin: 10px;
}

.padding10 {
  padding: 10px;
}

.navbar {
  background: linear-gradient(rgb(176, 239, 255), rgb(126, 230, 248));
  height: 75px;
}

.marginTop {
  margin-top: 15px;
}

.space-large {
  margin-top: 50px;
}

.card {
  background-color: rgb(235, 235, 235);
  border: 1px solid black;
}

.no-books {
  height: 80vh;
}

.footer {
  border-top: 1px solid black;
  background: rgba(180, 180, 180, 0.8);
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


